.navbar {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.navbar-links {
  display: block;
}
.navbar-links .menu-link {
  color: azure;
  transition: all 0.3s ease-in-out;
  margin: 0 15px;
}
.navbar-links .menu-link:hover {
  font-weight: bold;
  color: red;
}

.social-icons {
  display: flex;
  align-items: center;
}
.social-icons .icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.social-icons .icon:hover {
  color: red;
}

.menu-icon {
  display: none;
}

@media (max-width: 1024px) {
  .navbar .content {
    width: 95%;
  }
  .navbar .content .navbar-links {
    display: none;
  }
  .navbar .content .social-icons {
    display: none;
  }
  .navbar .content .menu-icon {
    display: block;
  }
}
.social-icons-dropdown {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.social-icons-dropdown .icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.social-icons-dropdown .icon:hover {
  color: red;
}